/* Fondo diagonal morado-negro */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6A0DAD, #000000);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navegación superior */
.nav {
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
}

.nav .logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.perfil-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.menu {
  display: flex;
  gap: 2rem;
  margin: 1rem 0;

}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #6A0DAD;
  margin-bottom: 1rem;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input,
form select {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

form button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1.5rem;
  background-color: #6A0DAD;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #5800a8;
}

#mensaje {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    margin: 1rem;
    padding: 1.5rem;
  }

  .menu {
    align-items: center;
    margin-top: 2rem;
  }

  .menu a {
    width: 100%;
    text-align: center;
  }
}

#menuUsuario {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#menuUsuario button {
  background-color: #6A0DAD;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

#menuUsuario button:hover {
  background-color: #5800a8;
}

.logo img{
  width: 100px;
  height: 50px;
  object-fit: cover;
}